<p-accordionTab selected="true" header="Step {{step.step}} {{step.title}}">
  <mat-card fxLayout="column" fxLayoutGap="20px">
    <mat-checkbox *ngIf="edit;else displayCheck" (change)="setDone($event)" [value]="isComplete"
      [checked]="step.progress === 'Done'"></mat-checkbox>
    <mat-card-content>

      <div [innerHTML]="step.stepText"></div>
      <form #commentForm="ngForm">
        <mat-form-field class="mt-5" style="width:80%">
          <span *ngIf="step.progress === 'Skip';else norequire ">
            <input matInput type="text" ngModel name="comment" required (keyup)="saveComment($event)" [disabled]="!edit" placeholder="Comment"
              [value]="step.comment">
          </span>
          <ng-template #norequire>
            <input matInput type="text" ngModel name="comment" (keydown.enter)="saveComment($event)" [disabled]="!edit" placeholder="Comment"
              [value]="step.comment">
          </ng-template>
        </mat-form-field>
      </form>

      <span *ngIf="edit">
        <mat-label>Skip</mat-label>
        <mat-checkbox (change)="setSkip($event)" [value]="isComplete" [checked]="step.progress === 'Skip'">
        </mat-checkbox>
      </span>
    </mat-card-content>
  </mat-card>

</p-accordionTab>
<ng-template #displayCheck>
  <mat-icon color="primary" *ngIf="step.progress === 'Done'">check</mat-icon>
  <mat-icon color="warn" *ngIf="step.progress === 'Skip'">clear</mat-icon>

</ng-template>
<ng-template #comment>
  <span style="width:80%" class="mt-5">{{step.comment}}</span>
</ng-template>
