<app-update-header [title]="title" #dt2></app-update-header>
<div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="20px" class="container">
  <p-table  fxFlex="75" #dt [columns]="cols" [value]="updates" class="mt-3" [paginator]="true"
    [rows]="15">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="caption">
      <div style="text-align: right;">
        <mat-icon>search</mat-icon>
        <input pInputText placeholder="Global Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">

      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr >
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <div fxLayout="column">
            <input type="number" pInputText  *ngSwitchCase="'idchecklist'"  (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input type="number" pInputText  *ngSwitchCase="'version'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <p-dropdown *ngSwitchCase="'status'" fxFlex="10"  [options]="statuses" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
              <input type="text" pInputText fxFlex="80" *ngSwitchCase="'title'" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <p-dropdown *ngSwitchCase="'prodLine'"  [options]="platform" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown *ngSwitchCase="'system'" [options]="system" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown *ngSwitchCase="'process'" [options]="process" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown *ngSwitchCase="'rel'" [options]="release" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>


              </div>
            </th>
      </tr>

    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" >
          <a [routerLink]="['/updates/details',rowData.idupdate]" routerLinkActive="router-link-active"
            *ngIf="col.field==='status'"><span [ngTemplateOutlet]="rowData['status'] !== 'In Progress' ? simpleLink : showPercent" [ngTemplateOutletContext]="{rowData: rowData}"></span></a>
          <span *ngIf="col.field !=='status'">{{rowData[col.field]}}</span>

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #simpleLink let-rowData='rowData'>{{rowData.status}}</ng-template>

<ng-template #showPercent let-rowData='rowData'>
  <span>{{rowData.percentage}} </span>
</ng-template>


