<app-header [title]="title" [menuButtons]="buttons"></app-header>
<mat-tab-group>
  <mat-tab label="Details" *ngIf="checklist">
    <div class="container mt-3">


      <span>
        <h5>Description</h5>
        <hr>
        <span fxLayoutAlign="center center">
          <b>Title: </b> {{checklist.title}}
        </span>
        <span fxLayoutAlign="center center" fxLayoutGap="100px">
          <div><b>Platform: </b> {{checklist.prodLine}}</div>
          <div><b>System: </b> {{checklist.system}}</div>
          <div><b>Process: </b> {{checklist.process}}</div>
          <div><b>Release: </b> {{checklist.rel}}</div>
          <div><b>Type: </b> {{checklist.type}}</div>
        </span>
        <span fxLayoutAlign="center center" fxLayoutGap="100px">
          <div><b>Objective & Scope: </b> {{checklist.scope}}</div>
        </span>
      </span>
      <hr>
      <span>
        <h5>Steps</h5>
      </span>
      <div>
        <div *ngIf="checklist.logChecklistSteps">
          <p-accordion *ngFor="let step of checklist.logChecklistSteps">
            <app-checklist-step-details [editMode]="false" [step]="step"></app-checklist-step-details>
          </p-accordion>

        </div>
      </div>
      <span *ngIf="checklist.status !== 'Draft'">
        <app-page-identification-info [history]="pageIdInfo"></app-page-identification-info>
      </span>

    </div>
  </mat-tab>
  <mat-tab label="History" *ngIf="checklist">
    <ng-template matTabContent>
      <app-checklist-history [checklist]="checklist"></app-checklist-history>
    </ng-template>

  </mat-tab>
</mat-tab-group>
