<app-header [title]="title"></app-header>
<mat-tab-group>
  <mat-tab label="Details" *ngIf="checklist">
<button class="mt-3 mb-2" mat-raised-button (click)="showEditor()">Add Step</button>
<div >
  <div cdkDropList (cdkDropListDropped)="reorder($event)" *ngIf="checklist.logChecklistSteps">
    <p-accordion *ngFor="let step of checklist.logChecklistSteps" cdkDrag >
       <app-checklist-step-details (stepChange)="stepChanged($event)" [step]="step"></app-checklist-step-details>
    </p-accordion>

</div>
</div>
</mat-tab>
<mat-tab label="History" *ngIf="checklist" >
  <ng-template matTabContent>
    <app-checklist-history [checklist]="checklist"></app-checklist-history>
  </ng-template>

</mat-tab>
</mat-tab-group>

